<h2>Animes</h2>
<mat-card>
  <mat-card-title-group>
    <div class="form">
      <mat-form-field appearance="fill">
        <mat-label>Search: </mat-label>
        <input matInput type="text" [formControl]="searchCtrl" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </mat-card-title-group>
  <mat-spinner *ngIf="loading$ | async"></mat-spinner>
  <mat-nav-list *ngIf="animes$ | async as animes" class="lst-anime">
    <app-anime-list-item *ngFor="let anime of animes$ | async" [anime]=anime></app-anime-list-item>
  </mat-nav-list>
</mat-card>