<div class="card">
  <mat-card>
    <ng-container *ngIf="anime$ | async as anime">
      <h1>{{ anime.title | titlecase }}</h1>
      <img [src]="anime.imageUrl" [alt]="anime.title">
      <div class="description">
        <h2>
          Description :
        </h2>
        <p>{{ anime.description }}</p>
      </div>
    </ng-container>
    <mat-card-actions>
      <mat-spinner *ngIf="loading$ | async; else buttons"></mat-spinner>
      <ng-template #buttons>
        <div class="action-buttons">
          <button mat-flat-button color="accent" (click)="onEdit()">MODIFY</button>
          <button mat-flat-button color="warn" (click)="onDelete()">DELETE</button>
        </div>
        <button mat-flat-button color="primary" (click)="onGoBack()">RETOUR</button>
      </ng-template>
    </mat-card-actions>
  </mat-card>
</div>